.main-section {
  width: 100%;
  height: 100vh;
  background: url(../img/mainbackground.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}
